{% extends 'base.html' %}
{% load static %}

{% block content %}
<body style="padding: 20px;" id="_base_body" onload="loaded();">
  <header>
    {#% include 'header.html' %#} {# Will this _ever_ be used for anything? #}
    {% block header %}
    {% endblock header %}
    {% if toast %}
      {# Todo: probaby fade out or close automatically #}
      <div onclick="_base_closeBadge_onClick(window.event);" class="nes-badge" id="badge">
        <span class="is-{{ toast.type }}">{{ toast.text }}</span>
      </div>
    {% endif %}
      <nav>
      </nav>
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  <footer>
    {% include 'footer.html' %}
    {% block footer %}
    {% endblock footer %}
  </footer>
</body>

{% endblock content %}

