{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="Delta Homapage - webová aplikace pro líného studenta SŠIE Delta">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'manifest.json' %}" rel="manifest">
  <link href="{% static 'favicon.ico' %}" rel="icon">
  <link href="{% static 'logo192.png' %}" rel="apple-touch-icon">
  <link href="{% static 'css/nes.css' %}" rel="stylesheet">
  <link href="{% static 'css/global.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">

  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <!--<script src="https://cdn.tailwindcss.com"></script>-->
  <!--<script src="https://cdn.jsdelivr.net/npm/less"></script>-->

  <title>{{ name|title }}</title>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/tailwind_config.js' %}"></script>
</head>
<body style="padding: 20px;" id="_base_body" onload="loaded();">
  {% block styles_scripts %}
  {% endblock styles_scripts %}
  <header>
    {% block header %}
    {% endblock header %}
    <nav>
      {% include 'nav.html' %}
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  <footer>
    {% block footer %}
    {% endblock footer %}
  </footer>
</body>
</html>
