.App {
  text-align: center;
}

h4 {
  margin: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

.hello {
  display: inline-block;
  width: 65%;
}

@media screen and (max-width: 820px) {
  .hello { width: 100%; }
}
