{% extends '../base.html' %}

{% block content %}

<style>
.post {
    border: 3px solid;
    padding: 10px;
    width: 50%;
}

.post-btn {
    width: 50%;
    left: calc((100% - 48.5%) / 2);
    top: 10px;
}

@media only screen and (max-width: 750px) {
    .post {
        width: 100%;
    }
    .post-btn {
        width: 100%
    }
}

</style>

<section>
    <dialog class="nes-dialog" id="new-post-dialog">
        <h4 class="title">Nový příspěvek</h4>
        <form method="dialog" onsubmit="window.event.preventDefault(); console.log(window.event.target.elements.text.value)">
            {#% csrf_token %#}
            <textarea name="text" placeholder="Text příspěvku"></textarea>
            <br>
            <input type="file" accept="image/png, image/jpeg"></input>
            <br>
            <menu onclick="document.getElementById('new-post-dialog').close()" class="dialog-menu">
                <button type="button" class="nes-btn is-error">Zrušit</button>
                <button type="submit" class="nes-btn is-primary">Přispět</button>
            </menu>
        </form>
    </dialog>
</section>

<section>
    <button type="button" class="nes-btn is-primary on-top-sticky post-btn" onclick="document.getElementById('new-post-dialog').showModal();">
        Nový příspěvek
    </button>
    {% for post in posts %}
        <div style="display: flex; justify-content: center; padding: 3px;">
            <article class="post">
                <div>
                    {# Todo: avatar #}
                    <h4 style="font-weight: normal; margin-top: 0;">
                        <a style="font-weight: bold;" href="/users/{{ post.author.username }}">@{{ post.author.username }}</a>
                        •
                        {{ post.created_at }} {# Todo: tooltip with full date #}
                    </h4>
                </div>
                <p style="text-align: justify; font-size: 1.2rem; ">{{ post.text }}</p>
                {# Todo: Attachments #}
                {# Todo: actions, without losing scroll pos and prefferably without ajax #}
                <button class="nes-btn {% if liked %} is-success {% else %} is-primary {% endif %}">👍</button>
                <button class="nes-btn">✏️</button>
                <button class="nes-btn">🔄</button>
                <button class="nes-btn is-error">🗑️</button>
            </article>
        </div>
    {% endfor %}
</section>

{% endblock content %}
