{% extends '../base.html' %}

{% block content %}

<script>
    let text = "";

    function keypress() {
        text += window.event.key;
    }

    function submitfn() {
        window.event.preventDefault();
        alert(text)
        vysrat()
    }

    function vysrat() {
        text = "";
        $("#torture-input")[0].value = "";
    }
</script>

<div style="display: flex; flex-direction: column; justify-content: center; gap: 20px;">
    <p>
        {{ lesson.text }}
    </p>
    <form onsubmit="submitfn()"> {# Todo: action #}
        {% csrf_token %}
        <input
            onpaste="window.event.preventDefault()"
            ondrop="window.event.preventDefault()"
            autocomplete="off"
            autocorrect="false"
            spellcheck="false"
            style="line-height: 3;"
            type="text"
            onkeypress="keypress()"
            placeholder="Piš sem&hellip;"
            id="torture-input"
        ></input>
        <button type="submit" class="nes-btn is-primary">Vyhodnotit</button>
        <button
            type="reset"
            class="nes-btn is-error"
            onclick="vysrat()"
        >
            Seru na to
        </button>
    </form>
</div>

{% endblock content %}